{% extends "base.html" %}
{% load static wagtailuserbar i18n wagtailcore_tags wagtailimages_tags  wagtail_home_tags %}

{% block breadcrumb %}{% breadcrumbs %}{% endblock breadcrumb %}

{% block title %}
<div class="container">
    <h1 class="center">{{ page.title }}</h1>
</div>
{% endblock title %}

{% block image %}
<div class="">
    <div class="parallax-container">
      <div class="parallax">
       {% image page.image original %}

      </div>
    </div>
</div>
<script>
  $(document).ready(function(){
    $('.parallax').parallax()
  })
</script>
{% endblock image %}

{% block content %}
<div class="container ">
    {{ page.content|richtext  }}
</div>
{% endblock content %}

