{% load static wagtailuserbar %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "blocks/head.html" %}
    {% block extra_css %}{% endblock %}
</head>
<body>
 {% wagtailuserbar %}

  {% include "blocks/navbar.html" %}
  {% block breadcrumb %}
  {% endblock breadcrumb %}


  {% block image %}{% endblock %}
  {% block title %}{% endblock %}

  {% block content %}{% endblock %}




  {% include "blocks/footer.html" %}
  {% include "blocks/script.html" %}
  {% block extra_js %}{% endblock %}
  </body>
</html>

