{% extends "base.html" %}
{% load i18n account socialaccount %}

{% block head_title %}{% trans "Войти" %}{% endblock %}
{% block content %}

<div class="container ">
    <div class="row">
      <div class="col s12 m4 l3"></div>
      <div class="col s12 m4 l6">
        <h1 class="center">{% trans "Войти" %}</h1>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
          <p>
          Пожалуйста, войдите в систему с помощью одной из ваших существующих учетных записей сторонних сервисов.
            Или <a href="{{ signup_url }}">зарегистрируйтесь</a> для учетной записи в правозанами.рф и войдите в систему ниже:
          </p>

          <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'Или' %}</div>
          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}

        <p>{% blocktrans %}Если у вас нет аккаунта то пожалуйста нажмите
          <a href="{{ signup_url }}">Зарегистрироваться</a>{% endblocktrans %}</p>
        {% endif %}


        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="row">
            {{form.as_p}}


          </div>

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}

          <button class="btn red primaryAction btn-center" type="submit">{% trans "Войти" %}</button>
          <br>
          <a class="btn-flat btn-center" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>


        </form>
      </div>

      <div class="col s12 m4 l3"></div>
    </div>
</div>


{% endblock %}
