{% load wagtail_site_settings_tags  %}


<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Наши контакты</h5>
          <ul>
            <li><a style="color: #fff;font-size:1.3em"
                   href="mailto:{{ settings.site_settings.ContactSettings.email }}">
              {{ settings.site_settings.ContactSettings.email }}</a></li>
            <hr>
            <li><a style="color: #fff;font-size:1.3em"
                   href="tel:{{ settings.site_settings.ContactSettings.tel1 }}"><b>
              {{ settings.site_settings.ContactSettings.tel1 }}</b></a></li>
            <li><a style="color: #fff;font-size:1.3em"
                   href="tel:{{ settings.site_settings.ContactSettings.tel2 }}">
              {{ settings.site_settings.ContactSettings.tel2 }}</a></li>
          </ul>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Карта сайта</h5>
          <div class="col m4 l4 s12">
            {% site_map %}
          </div>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Свяжитесь с нами!</h5>
          {% social_as_ul %}
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>