{% load wagtailcore_tags %}
<style>
.logo-desktop{
    white-space: nowrap;
    color: #444;
    margin: 20px;
    font-size: 3em;
}
.mobile-logo{
    display: none !important;
    white-space: nowrap;
    font-size: 3em;
    }
@media (max-width: 600px) {
  .desktop-nav-bar {display: none;}
  .mobile-logo{
      display: block !important;
      white-space: nowrap;
      font-size: 3em;
      }
}
</style>


    <div class="row desktop-nav-bar">
        <div class="col s12 grey lighten-2 right-align">

    <div class="nav-wrapper">
            {% if request.user.is_authenticated %}
            <ul>
                <li>
                    <a class="inline" style="color: #444;" href="{% url 'account_logout' %}">
                        <i class="material-icons">person_outline</i><p class="inline" style="vertical-align: super;">Выйти</p>
                    </a>
                </li>
                {% else %}
                <li>
                    <a style="color: #444;" href="{% url 'account_registry' %}">
                        <i class="material-icons">person_add</i>
                        <p class="inline" style="vertical-align: super;">Зарегистрироваться</p>
                    </a>
                </li>
                <li>
                    <a style="color: #444;" href="{% url 'account_login' %}">
                        <i class="material-icons">person</i>
                        <p class="inline" style="vertical-align: super;">Войти</p>
                    </a>
                </li>
                {% endif %}
            </ul>
    </div>
        </div>
    </div>


<div class="row desktop-nav-bar" >
  <div class="col s3">
    <a
            id="logo-container"
            href="#"
            class="brand-logo"

    ><h1 class="logo-desktop">{{request.site.site_name}}</h1></a>
  </div>
  <div class="col s7 right-align">

    <ul>
      <li><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">call</i></a></li>
    </ul>

  </div>
  <div class="col s2 ">

    <ul>
      <li><a style="color: #444;font-size:1.3em" class="" href="tel:{{ settings.site_settings.ContactSettings.tel1 }}"><b>{{ settings.site_settings.ContactSettings.tel1 }}</b></a></li>
      <li><a style="color: #444;" class="" href="tel:{{ settings.site_settings.ContactSettings.tel2 }}">{{ settings.site_settings.ContactSettings.tel2 }}</a></li>
    </ul>


  </div>
</div>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">


<a href="#" class="brand-logo mobile-logo">{{request.site.site_name}}</a>
     <ul class="right hide-on-med-and-down">
          {% for menu in menuitems %}
          <li>
            <a href="{{menu.url}}">{{menu.title}}</a>
          </li>
          {% endfor %}
        </ul>





    <ul id="nav-mobile" class="sidenav">
      {% for menu in menuitems %}
      <li>
        <a href="{{menu.url}}">{{menu.title}}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>